//=========== NAVBAR STYLE ==========//

// breakpoint default
.navbar-container {
        @include flex-between;
        position: sticky;
        top: 0;
        width: 100%;
        background-color: #111111;
        z-index: 100;
        height: 100px;
        margin-bottom: 0;
        padding: 0 20px;

        .left-navbar {
            display: none;
        }

        .right-navbar {
            @include flex-center;
            gap: 8px;
            margin-top: 6px;

            .profile-navbar {
                margin-top: 6px;
            }
        }

        .small-left-nav {
            @include flex-center;

            h2 {
                font-size: 25px;
                letter-spacing: $spacing-md;

                .golden-a {
                    color: #eeba2b;
                    font-size: 38px
                }
            }

            .dropdown-btn {
                margin-top: 5px;
                cursor: pointer;
            }
        }

        .dropdown-menu {
            opacity: 0;
            transform: translateY(-10px);
            pointer-events: none;
            transition: opacity 0.3s ease, transform 0.3s ease;
            position: absolute;
            top: 75%;
            left: 65px;
            background-color: #111111;
            z-index: 999;
            padding: 0 15px 15px 15px;
            text-align: center;
            border-radius: 8px;

            li {
                padding: 0px 5px;
                margin-bottom: 5px;
            }

            .pricing-navbar-dropdown {
                border: 1px solid white;
                border-radius: 6px;
            }

            &.show {
                opacity: 1;
                transform: translateY(0);
                pointer-events: auto;
            }
        }
}

// breakpoint small 
@include respond(sm) {
    .navbar-container {
        @include flex-between;
        position: sticky;
        top: 0;
        width: 100%;
        background-color: #111111;
        z-index: 100;
        height: 100px;
        margin-bottom: 100px;
        padding: 0 40px;
    }

}


// breakpoint large
@include respond(lg) {
    .navbar-container {
        @include flex-between;
        width: 100%;
        background-color: #111111;
        z-index: 1000;
        height: 100px;
        margin-bottom: 100px;
        padding: 0 40px;

        .left-navbar {
            @include flex-between;
            width: 100%;
            padding-right: 20px;

            h2 {
                font-size: 30px;
                letter-spacing: $spacing-md;

                .golden-a {
                    color: #eeba2b;
                    font-size: 46px
                }
            }

            ul {
                @include flex-center;
                gap: 16px;
                list-style: none;
                
                .pricing-navbar {
                    border: 1px solid white;
                    padding: 4px 14px;
                    transition: all 0.2s;
                    border-radius: 6px;
                }

                li a{
                    font-family: $font-heading;
                    transition: all 0.2s ease-in;
                
                    &:active {
                        text-shadow: 0 0 5px white;
                    }

                }
            }

        }

        .right-navbar {
            @include flex-center;
        }

        .small-left-nav {
            display: none;
        }

        .dropdown-menu {
            display: none;
        }
    }
}

// breakpoint larger
@include respond(xl) {
    .navbar-container {
        @include flex-between;
        width: 100%;
        background-color: #111111;
        z-index: 1000;
        height: 100px;
        margin-bottom: 100px;
        padding: 0 40px;

        .left-navbar {
            @include flex-between;
            width: 100%;
            padding-right: 20px;

            h2 {
                font-size: 30px;
                letter-spacing: $spacing-md;

                .golden-a {
                    color: #eeba2b;
                    font-size: 46px
                }
            }

            ul {
                @include flex-center;
                gap: 16px;
                list-style: none;
                
                .pricing-navbar {
                    border: 1px solid white;
                    padding: 4px 14px;
                    transition: all 0.2s;
                    border-radius: 6px;
                }

                li a{
                    font-family: $font-heading;
                    transition: all 0.2s ease-in;
                
                    &:active {
                        text-shadow: 0 0 5px white;
                    }

                }
            }

        }

        .right-navbar {
            @include flex-between;
            align-items: center;
            width: 8%;

            .profile-navbar {
                width: 40px;
                height: 40px;
            }

            .lang {
                border-left: 2px solid white;
                font-size: 12px;
                padding-left: 10px;
                cursor: pointer;
            }
        }

        .small-left-nav {
            display: none;
        }

        .dropdown-menu {
            display: none;
        }
    }
}

