// For color, font-size, and other variables

$primary-color: black;
$secondary-color: #eeba2b;
$font-color: #ffffff;

$font-body: 'Inter', serif;
$font-heading: 'Poppins', sans-serif;

$spacing-sm: 1.5px;
$spacing-md: 2px;
$spacing-lg: 2.5px;