// For color, font-size, and other variables
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap');

$primary-color: black;
$secondary-color: #eeba2b;
$font-color: #ffffff;

$font-body: 'Inter', serif;
$font-heading: 'Poppins', sans-serif;

$spacing-sm: 1.5px;
$spacing-md: 2px;
$spacing-lg: 2.5px;