// For fonts/text
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap');

body {
  font-family: $font-body;
  line-height: 1.6;
}

h1, h2, h3 {
    color: $font-color;
    font-family: $font-heading;
    font-weight: 800;
}

p {
  color: $font-color;
  font-family: $font-body;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}